.navs{
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  overflow: hidden;
}
.navBrand, .navLink{
  z-index: 2;
}
.navBrand{
  height: 70px;
}
.navBrand a{
  color:#fff;
  font-weight: 700;
}
.navLink a{
  font-size: 1.10em;
  color: #fff;
  padding: 0.5em 1em;
  font-weight: 400;
}
li {
  display: inline-block;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.navLinks.active::after{
  position: absolute;
  left: 50.7%;
  top: 65px;
  width: 44px;
  height: 2px;
  background: #fff;
  content: "";
}
.section-cover{
  background-image: url(hero_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
 overflow: hidden;
}
.section-cover::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100%;
}
.thot{
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
  bottom: 44%;
}
.thot h1{
  font-weight: 300;
  font-size: 3rem;
}
strong{
  font-weight: 900;
}
.dropdown-itemToggle{
 height: 40px;
 z-index: 2;
 display: none;
 text-align: right;
}
.itemToggler{
  font-size: 25px;
  color: #000;
  cursor: pointer;
}
@media screen and (max-width: 991px){
  .navLink{
    display: none!important;
  }
  .dropdown-itemToggle {
    display: block!important;
  }
  .section-cover{
    height: calc(70vh - 196px)!important;
    min-height: 400px!important;
  }
  .thot h1{
    font-size: 2rem;
    line-height: 1!important;
  }
}